body{
  background-image: linear-gradient(to right, grey,pink,grey);
}

.App {
  text-align: center;
  
}

#btn-1{
  
    border: 2px solid black;
    border-radius: 15px;
    background-color: grey;
    position: absolute;
    left: 491px;
    top: 98px;
    width: 250px;
    height: 50px;
    font-size: 18px;
  
}

#btn-2 {
	border: 2px solid black;
	border-radius: 15px;
	background-color: cyan;
	position: absolute;
	left: 811px;
	top: 97px;
	width: 250px;
	height: 50px;
	font-size: 18px;
}

#div-main{
  width:400px;
  height:250px;
  border:2px solid black;
  border-radius:30px;
  background-color: cyan;
  position:absolute;
  left:13px;
  bottom:25px;

}

#div-main2 {
	background-color: cyan;
	border: 2px solid #000;
	border-radius: 30px;
	bottom: 25px;
	height: 250px;
	position: absolute;
	width: 400px;
  left:835px;
}